<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Example</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashBoard.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<style>
		#chartsize {
			width: 500px;
		}
	</style>
</head>

<body>
    <header>
        <div class="logo">Jam Jam</div>
        <nav class="stats">
            <div class="stat-item">오늘 방문자<br>3명</div>
            <div class="stat-item">이 달 방문자<br>502명</div>
            <div class="stat-item">총 방문자<br>887,778</div>
            <div class="stat-item">신규 회원가입 수<br>28명</div>
            <div class="stat-item">수익창출<br>광고비용 방문자 X 100원 매출액: 300원</div>
            <div class="stat-item">신규 이력서 수<br>43개</div>
        </nav>
        <div class="nav-buttons">
            <button type="button" class="btn">도움말</button>
            <button type="button" class="btn">답변</button>
            <button type="button" class="btn">로그아웃</button>
        </div>
    </header>
	<div id="chartsize">
  		<canvas id="myChart"></canvas>
	</div>


<script>
  const ctx = document.getElementById('myChart');
  
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [
          {
            label: 'Dataset 1', // 첫 번째 데이터셋 레이블
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1,
            borderColor: 'rgb(75, 192, 192)', // 첫 번째 데이터셋 색상
            tension: 0
          },
          {
            label: 'Dataset 2', // 두 번째 데이터셋 레이블
            data: [2, 9, 13, 15, 12, 23], // 두 번째 데이터셋 값
            borderWidth: 1,
            borderColor: 'rgb(255, 99, 132)', // 두 번째 데이터셋 색상
            tension: 0
          }
        ]
    },
    options: {
    	animations: {
    	      tension: {
    	        duration: 1000,
    	        easing: 'linear',
    	        from: 1,
    	        to: 0,
    	        loop: true,
    	        
    	      }
    	},
    	plugins: {
    	      tooltip: {
    	        callbacks: {
    	          // 툴팁 클릭 시 애니메이션 비활성화
    	          label: function(context) {
    	            context.dataset.tension = 0; // 곡선 효과 제거
    	            context.chart.update(); // 차트 업데이트
    	            return context.formattedValue; // 원래 값 반환
    	          }
    	        }
    	      }
    	    },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
    </body>
</html>
