<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<table id="helpTable">
		<thead>
			<tr>
				<th>제목</th>
				<th>내용</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody id="helpBody">
		</tbody>
	</table>
	
	<button onclick="location.href='helpForm'">등록</button>
	
	<script>
	$(document).ready(function(){
		$.ajax({
			type: "GET",
			url: "http://localhost:9002/help",
			success: function(data){
				console.log(data);
				displayHelp(data);
			},
			error: function(){
				console.log("에러 발생.....");
			}
		})
	});

	function displayHelp(data) {
		var helpTable = $("#helpBody");
		helpTable.empty(); // 기존 테이블 내용 비우기
		
		$.each(data, function(index, help) {
			var row = "<tr>" +
			"<td><a href='helpDetail?hnum=" + help.hnum + "'>" + help.title + "</a></td>" +
			"<td>" + help.content + "</td>" +
			"<td><a href='helpUpdate?hnum=" + help.hnum + "'>수정</a></td>" +
			"<td><a href='#' onclick='deleteHelp(" + help.hnum + ")'>삭제</a></td>" +
			"</tr>";
			helpTable.append(row);
		});
	}
	
	function deleteHelp(hnum) {
		if(confirm("정말 삭제하시겠습니까?")) {
			$.ajax({
				type: "DELETE",
				url: "http://localhost:9002/help/" + hnum,
				success: function(response){
					alert("삭제 완료");
					location.reload(); // 삭제 후 페이지 새로고침
				},
				error: function(){
					console.log("삭제 에러 발생.....");
				}
			});
		}
	}
</script>

</body>
</html>