<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Detail</h1>

	<h2 id="helpTitle"></h2>
	<p id="helpContent"></p>
	
	<script>
        $(document).ready(function() {
            
            var hnum ="[[${hnum}]]";
            
            $.ajax({
				type: "GET",
				url: "http://localhost:9002/help/"+ hnum,
				dataType: "json", // 서버가 보내주는 데이터의 타입
				success: function(data){
					console.log(data);
					
					$("#helpTitle").html(data.title);
					$("#helpContent").html(data.content);
					
				},
				error: function(){
					console.log("에러 발생.....");
				}
			})
        });
    </script>
</body>
</html>