<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashBoard.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<header>
        <div class="logo">Jam Jam</div>
        <nav class="stats">
            <div class="stat-item" id="today">오늘 방문자<br><span th:text="${cnt}"></span>명</div>
            <div class="stat-item">이 달 방문자<br>502명</div>
            <div class="stat-item" id="all">총 방문자<br></div>
            <div class="stat-item">신규 회원가입 수<br>28명</div>
            <div class="stat-item">수익창출<br>광고비용 방문자 X 100원 매출액: 300원</div>
            <div class="stat-item">신규 이력서 수<br>43개</div>
        </nav>
        <div class="nav-buttons">
            <button type="button" class="btn" onclick="location.href='helpList'">도움말</button>
            <button type="button" class="btn">답변</button>
            <button type="button" class="btn" onclick="logout()">로그아웃</button>
        </div>
    </header>


	<table id="helpTable">
		<thead>
			<tr>
				<th>제목</th>
				<th>내용</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody id="helpBody">
		</tbody>
	</table>
	
	<button onclick="location.href='helpForm'">등록</button>
	
	<script>
	$(document).ready(function(){
		$.ajax({
			type: "GET",
			url: "http://localhost:9002/help",
			success: function(data){
				console.log(data);
				displayHelp(data);
			},
			error: function(){
				console.log("에러 발생.....");
			}
		})
	});

	function displayHelp(data) {
		var helpTable = $("#helpBody");
		helpTable.empty(); // 기존 테이블 내용 비우기
		
		$.each(data, function(index, help) {
			var row = "<tr>" +
			"<td><a href='helpDetail?hnum=" + help.hnum + "'>" + help.title + "</a></td>" +
			"<td>" + help.content + "</td>" +
			"<td><a href='helpUpdate?hnum=" + help.hnum + "'>수정</a></td>" +
			"<td><a href='#' onclick='deleteHelp(" + help.hnum + ")'>삭제</a></td>" +
			"</tr>";
			helpTable.append(row);
		});
	}
	
	function deleteHelp(hnum) {
		if(confirm("정말 삭제하시겠습니까?")) {
			$.ajax({
				type: "DELETE",
				url: "http://localhost:9002/help/" + hnum,
				success: function(response){
					alert("삭제 완료");
					location.reload(); // 삭제 후 페이지 새로고침
				},
				error: function(){
					console.log("삭제 에러 발생.....");
				}
			});
		}
	}
</script>

</body>
</html>