<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/nav_styles.css}">
<link rel="stylesheet" th:href="@{/css/user_sidebar.css}">
<script src="/js/user_nav.js"></script>
<style>
	.Ad{
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
	}
</style>
</head>
<body>
<div th:replace="~{fragments/user_nav :: fragment-nav}"></div>
<div class="container" id="container">
	<div id="sidebar">
		<div th:replace="~{fragments/user_sidebar :: fragment-sidebar}"></div>
	</div>
		<div class="content">
			<h2>채용공고 목록</h2>
			<div id="jobList" class="jobList">
				
			</div>
			<div id="pagination" class="pagination">
			
			</div>
	</div>
</div>


<script>
	$(document).ready(function(){
		$.ajax({
			url: "http://localhost:9002/user/jobad",
			method: "GET",
			success: function(response){
				console.log("Success: ", response);
				
				const jbList = $("#jobList");
				jbList.empty();
				response.forEach(function(list){
					const receiptCloseDt = new Date(list.receiptCloseDt);
	                const options = { year: 'numeric', month: 'long', day: 'numeric' };
	                const formattedDate = receiptCloseDt.toLocaleDateString(undefined, options);
					
					const listItem = `
					<div class="Ad">
					<a href="#" onclick="gojobDetail(${list.jno})"><h3>${list.wantedTitle}</h3></a>
					<span>접수마감일: ${formattedDate}</span> / <span>지역: ${list.region}</span> / <span>모집분야: ${list.position1}</span>
					</div>
					
					`;
					jbList.append(listItem);
				});
				
			},
			error: function(error){
				console.log("Error: ", error);
				
			}
		});
	});
	
	function gojobDetail(jno){
		window.location.href = "/user/jobadDetail?jno=" + jno;
	}
</script>
</body>
</html>