<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<h1>마이페이지</h1>
<hr>
<div id="userinfo">
	<p id="username" th:text="${username}"></p>
	<p id="uname"></p>
	<p id="birth_date"></p>
	<p id="email"></p>
	<p id="gender"></p>
	<p id="tel"></p>
	<p id="uaddr"></p>
</div>

<div id="applyList">
	

</div>



<script>
	
		$(document).ready(function(){
		
		const username = $("#username").text().trim();
		
		$.ajax({
			url: 'http://localhost:9002/user/mypage/' + username,
			method: 'GET',
			success: function(response){
				localStorage.setItem('userData', JSON.stringify(response));
				
				$('#uname').text('name: ' + response.uname);
				$('#birth_date').text('생년월일: ' + response.birthDate);
				$('#email').text('이메일: ' + response.email);
				$('#gender').text('성별: ' + (response.gender === '1' ? '남자' : '여자'));
				$('#tel').text('전화번호: ' + response.tel);
				$('#uaddr').text('주소: ' + response.uaddr);
			},
			error: function(error){
				console.error("Error: ", error);
			}
		});
		
		
		$.ajax({
			url: "http://localhost:9002/user/job-apply/" + username,
			method: "GET",
			success: function(response){
				const applyList = $("#applyList");
				applyList.empty();
				response.forEach(function(list){
					let statusText = "";
					if(list.status === 0) {
						statusText = "결과 대기중";
					}else if(list.status === 1 ){
						statusText = "합격";
					}
					
					const listItem = `
						<ul id="applyList2">
							<li>
								<label for="company">회사명</label> : <span id="cName">${list.company.cname}</span>
							</li>
							<li>
								<label for="jobad">채용공고 명</label> : <span id="wantedTitle">${list.jobAd.wantedTitle}</span>
							</li>
							<li>
								<label for="status">상태</label> : <span id="status">${statusText}</span>
							</li>
						</ul>
						`;
						applyList.append(listItem);
				});
			},
			error: function(error){
				console.log("Error: " + error);
			}
		});
		
	});
	
	//style.display = "none" or "block"
	
	
</script>
</body>
</html>