<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/nav_styles.css}">
<link rel="stylesheet" th:href="@{/css/user_sidebar.css}">
<script src="/js/user_nav.js"></script>
<style>
	#userinfo{
		
	}
	
	#applyList2 {
        border: 2px solid black; /* 검정색 테두리 */
        width: 200px; /* 고정된 너비 */
        height: 200px; /* 고정된 높이 */
        display: flex; /* 유연한 상자 모델 */
        justify-content: center; /* 가운데 정렬 */
        align-items: center; /* 가운데 정렬 */
    }

    #applyList2 li {
        list-style-type: none; /* 기본 목록 스타일 제거 */
    }
</style>
</head>
<body>
<div th:replace="~{fragments/user_nav :: fragment-nav}"></div>

<div class="container" id="container">
	<div id="sidebar">
		<div th:replace="~{fragments/user_sidebar :: fragment-sidebar}"></div>
	</div>
	
	<div class="content">
		<h1>마이페이지</h1>  
		<hr>
		<div id="userinfo">
			<span style="font-size: 30px">개인정보</span> <button onclick="modifyinfo()">개인정보 수정</button>
			<p id="username"></p>
			<p id="uname"></p>
			<p id="birth_date"></p>
			<p id="email"></p>
			<p id="gender"></p>
			<p id="tel"></p>
			<p id="uaddr"></p>
			<input type="hidden" name="password">
		</div>
		<span style="font-size: 30px">지원한 회사</span>
		<div id="applyList">
		</div>
	</div>
</div>

<script>
	
		$(document).ready(function(){
		
		const username = localStorage.getItem('username');
		
		$.ajax({
			url: 'http://localhost:9002/user/mypage/' + username,
			method: 'GET',
			success: function(response){
				//localStorage.setItem('userData', JSON.stringify(response));
				
				$('#uname').text('name: ' + response.uname);
				$('#birth_date').text('생년월일: ' + response.birthDate);
				$('#email').text('이메일: ' + response.email);
				$('#gender').text('성별: ' + (response.gender === 0 ? '여자' : '남자'));
				$('#tel').text('전화번호: ' + response.tel);
				$('#uaddr').text('주소: ' + response.uaddr);
				$('input[name="password"]').val(response.password);
			},
			error: function(error){
				console.error("Error: ", error);
			}
		});
		
		
		$.ajax({
			url: "http://localhost:9002/user/job-apply/" + username,
			method: "GET",
			success: function(response){
				const applyList = $("#applyList");
				applyList.empty();
				response.forEach(function(list){
					let statusText = "";
					if(list.status === 0) {
						statusText = "결과 대기중";
					}else if(list.status === 1 ){
						statusText = "합격";
					}
					
					const listItem = `
						<ul id="applyList2">
							<li>
								<label for="company">회사명</label> : <span id="cName">${list.company.cname}</span><br>
								<label for="jobad">채용공고 명</label> : <span id="wantedTitle">${list.jobAd.wantedTitle}</span><br>
								<label for="status">상태</label> : <span id="status">${statusText}</span>
							</li>
						</ul>
						`;
						applyList.append(listItem);
				});
			},
			error: function(error){
				console.log("Error: " + error);
			}
		});
		
	});
	
	function modifyinfo(){
		window.location.href="/user/moduserinfo";
	}	
		

	
</script>
</body>
</html>