<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/nav_styles.css}">
<link rel="stylesheet" th:href="@{/css/user_sidebar.css}">
<script src="/js/user_nav.js"></script>
<style>
	.listContent {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
	}
</style>
</head>
<body>
<div th:replace="~{fragments/user_nav :: fragment-nav}"></div>
<div class="container" id="container">
	<div id="sidebar">
		<div th:replace="~{fragments/user_sidebar :: fragment-sidebar}"></div>
	</div>
	<div class="content">
		<h2>포지션 제안확인</h2>
			<hr>
			<div id="offerList">
				
			</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		
		const username = localStorage.getItem("username");
		
		$.ajax({
			url: "http://localhost:9002/user/offerlist/" + username,
			method: "GET",
			success: function(response){
				console.log("Success: ", response);
				const offerlist = $("#offerList")
				offerlist.empty();
				response.forEach(function(list){
					
					console.log("Original status: ", list.status, "Type: ", typeof list.status);
	                console.log("Original accept: ", list.accept, "Type: ", typeof list.accept);

					
					var sttText = (list.status === "1") ? "요청수락" : (list.status === "0") ? "제안 중" : list.status;
					var acceptText = (list.accept === "1") ? "요청수락" : (list.accept === "0") ? "제안 중" : list.accept;
					
					console.log("Converted status: ", sttText);
	                console.log("Converted accept: ", acceptText); 
	                
					const listItem = `
						<div class="listContent">
						<a href="#" onclick="goOfferDetail(${list.ono})">${list.title}</a><br>
						<span>${list.copName}</span>
						<span>${sttText}</span>
						<span>${acceptText}</span><br>
						</div>
					`;
					offerlist.append(listItem);
				});
			},
			error: function(error){
				console.log("Erro: ", error);
			}
		});
	});
	
	window.goOfferDetail = function goOfferDetail(ono){
		window.location.href="/user/offerDetailPage?ono=" + ono;
	}
	
</script>
</body>
</html>