<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
<aside th:fragment="sidebar">
    <div class="sidebar-menu">
        <h3>공고/지원자 관리</h3>
        <ul>
            <li><a href="#" th:href="@{/recruit}">채용공고</a></li>
            <li><a href="#" th:href="@{/apply}">입사지원 관리</a></li>
        </ul>
        <h3>인재관리</h3>
        <ul>
            <li><a href="#" th:href="@{/talent}">포지션 매칭</a></li>
            <li><a href="#" th:href="@{/talent/saved}">스크랩한 인재</a></li>
            <li><a href="#">면접자/합격자 관리</a></li>
        </ul>
        <h3>기업구독 인재</h3>
        <ul>
            <li><a href="#" th:href="@{/talent/saved}">스크랩한 인재</a></li>
        </ul>
    </div>
</aside>
