<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Main Page</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/userHeader.css}">
</head>
<body>
<div th:replace="~{fragments/userHeader :: header-content}"></div>

<main>
    <div id="count" th:text="${count}" style="display: none;"></div>
</main>

<script>
	
	$(document).ready(function() {
		
		var cnt = $('#count').text();
		
		console.log("현재 카운트 값: " + cnt);
		
		$.ajax({
			type: "POST",
			url: "http://localhost:9002/visitor",
			success: function(data){
				
			},
			error: function(){
				console.log("에러 발생.....");
			}
		});
	});
</script>

</body>
</html>
