<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div>자주 찾는 도움말</div>
	<div>
		
	</div>
	
	<div>
		<input type="button" id="logout" value="로그아웃" onclick="logout()">
	</div>
	
<script>
	
	function logout() {
	    // 로컬 스토리지에서 해당하는 데이터 삭제
	    localStorage.removeItem('username');
	    localStorage.removeItem('role');
	    
	    alert('로그아웃 되었습니다.');
	    // 로그아웃 후 서버로 로그아웃 요청을 보내는 등의 추가적인 서버 측 작업 수행 가능
	  
	    window.location.href = '/'; // 변경 필요
	}
	
	
</script>
</body>
</html>