<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/nav_styles.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.min.css">
</head>
<body>
	<div th:replace="~{fragments/user_nav :: fragment-nav}"></div>

	<!-- 슬라이드 바 추가 -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img
					src="https://apple.contentsfeed.com/RealMedia/ads/Creatives/jobkorea/240603_woorifisa_mb/240604_FIS_752_110.png">
			</div>
			<div class="swiper-slide">
				<img
					src="https://apple.contentsfeed.com/RealMedia/ads/Creatives/jobkorea/240618_wepkocca_mb/240618_wepkocca_752110.jpg">
			</div>
			<div class="swiper-slide">
				<img
					src="https://apple.contentsfeed.com/RealMedia/ads/Creatives/jobkorea/240521_intel_mb/240516_intel_752_110.png">
			</div>
			<div class="swiper-slide">
				<img
					src="https://apple.contentsfeed.com/RealMedia/ads/Creatives/jobkorea/240603_mpva_mb/240603_mpva_1504x220_b9ddff_1.png">
			</div>
		</div>

		<div class="swiper-pagination"></div>
	</div>

	<div id="count" th:text="${count}" style="display: none;"></div>


	<script src="/js/user_nav.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.min.js"></script>
	<script>
		$(document).ready(function() {
			var cnt = $('#count').text();
			console.log("현재 카운트 값: " + cnt);

			$.ajax({
				type : "POST",
				url : "http://localhost:9002/visitor",
				success : function(data) {

				},
				error : function() {
					console.log("에러 발생.....");
				}
			});

			// Swiper 초기화 및 설정	
			var swiper = new Swiper('.swiper-container', {
				slidesPerView : 1,
				spaceBetween : 2,
				loop : true,
				autoplay : {
					delay : 1500, // 자동 넘김 시간 설정 (ms)
					disableOnInteraction : false
				// 유저 상호작용 후 자동 넘김 여부
				},
				pagination : {
					el : '.swiper-pagination',
					clickable : true,
				},
			});
		});
	</script>
</body>
</html>
