<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/nav_styles.css}">
</head>
<body>
<div th:replace="~{fragments/user_nav :: fragment-nav}"></div>
<h1>유저메인페이지</h1>
<hr>
<a id="mypage-link" href="/user/mypage">마이페이지</a>

<a th:href="@{/user/resumeForm}">이력서 등록하기</a>

<a th:href="@{/user/resumeList?username=aaaa}">이력서 목록가기</a>

<a th:href="@{/user/positionUserList}">포지션매치 목록가기</a>

<a th:href="@{/user/jobadList}">채용공고 페이지</a>

<div id="count" th:text="${count}" style="display: none;"></div>


<script src="/js/user_nav.js"></script>
<script>
	
	$(document).ready(function() {
		
		var cnt = $('#count').text();
		
		console.log("현재 카운트 값: " + cnt);
		
		$.ajax({
			type: "POST",
			url: "http://localhost:9002/visitor",
			success: function(data){
				
			},
			error: function(){
				console.log("에러 발생.....");
			}
		});
	});
	
</script>
</body>
</html>