@charset "UTF-8";

/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

#t, #c {
	font-size: 1.5em;
	color: #b22222;
}

/* 헤더 스타일 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
    color: #b22222;
}

.img {
	width: 150px; /* 로고 이미지 크기 조정 */
    height: auto; /* 자동 높이 조정 */
}

/* 통계 항목 스타일 */
.stats {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0 20px;
}

.stat-item {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    margin: 0 5px;
    font-size: 1em;
    color: #b22222;
}

/* 네비게이션 버튼 스타일 */
.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #ffffff;
    color: #b22222;
    border: 2px solid #b22222;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.btn:hover {
    background-color: #b22222;
    color: #ffffff;
}

/* 차트 컨테이너 및 버튼 스타일 */
.chart-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
    width: 100%; /* 차트 컨테이너의 가로 길이 설정 */
}

#chartsize {
    width: 900px;
    height: 500px;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 20px;
}

.chart-title {
    font-size: 1.5em;
    color: #b22222;
    margin-top: 10px;
    text-align: center;
}

/* 버튼 그룹 스타일 */
.btn-group {
    position: absolute;
    top: 10px; /* 차트 상단에서의 위치 */
    right: 10px; /* 차트 오른쪽 끝에서의 위치 */
    display: flex;
    gap: 5px;
}

.btn-a {
	margin-top: 20px;
    float: right; /* 버튼을 오른쪽으로 이동 */
    margin-right: 5%;
}

.btn-b {
	float: right; /* 버튼을 오른쪽으로 이동 */
	margin-top: 20px;
	margin-left : 10px;
}

.btn-group button {
    background-color: #ffffff;
    color: #b22222;
    border: 2px solid #b22222;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
}

.btn-group button:hover {
    background-color: #b22222;
    color: #ffffff;
}
