<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>

	<h1>기업 마이페이지</h1>
	<hr>
	<h3>기업 정보조회</h3>
		<table border="1">
			<thead>
				<tr>
					<th>기업명</th>
					<th>로고</th>
					<th>대표자명</th>
					<th>기업주소</th>
					<th>사원수</th>
					<th>기업규모</th>
					<th>주요사업</th>
					<th>연매출액</th>
					<th>업종</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${cname}"></td>
					<td><img th:src="@{/images/하이브 로고.png}" alt="기업로고" width="400" height="200"></td>
					<td th:text="${ceo}"></td>
					<td th:text="${caddr}"></td>
					<td th:text="${employees}"></td>
					<td th:text="${size}"></td>
					<td th:text="${major}"></td>
					<td th:text="${yrSales}"></td>
					<td th:text="${sector}"></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="기업 정보 수정하기"> 
	<script>
		// cMyPage에서 쿼리 파라미터를 읽는 예제
		function getQueryParams() {
			let params = {};
			let queryString = window.location.search.substring(1);
			let vars = queryString.split("&");
			for (let i = 0; i < vars.length; i++) {
				let pair = vars[i].split("=");
				params[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
			}
			return params;
		}

		// 예제: 페이지 로드 시 쿼리 파라미터를 콘솔에 출력
		$(document).ready(function() {
			let params = getQueryParams();
			console.log(params);
		});
	</script>
</body>
</html>