<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<meta charset="UTF-8">
<title>기업 수정 페이지</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<script src="/js/edit-company.js" defer></script>
</head>
<body>
<header>
	<div th:replace="~{/fragments/comHeader.html}"></div>
</header>

<div id="container">
<div id="sidebar">
<div th:include="~{/fragments/comsidebar.html}"></div>
</div>
	<div class="content">
	
	<form id="edit-company-form">
		<li>기업아이디</li> <input type="text" id="username" name="username"
			th:value="${username}" readonly=true /><br>
		<li>기업비밀번호</li> <input type="text" name="password"
			th:value="${password}"><br>
		<li>기업명</li> <input type="text" name="cname" th:value="${cname}"><br>
		<li>기업로고</li> <input type="text" name="logo" th:value="${logo}"><br>

		<li>대표자명</li> <input type="text" name="ceo" th:value="${ceo}"><br>
		<li>사업자번호</li> <input type="text" name="cnum" th:value="${cnum}"><br>
		<li>기업주소</li> <input type="text" name="caddr" th:value="${caddr}"><br>
		<li>사원수</li> <input type="text" name="employees"
			th:value="${employees}"><br>
		<li>기업홈페이지</li> <input type="text" name="url" th:value="${url}"><br>
		<li>기업규모</li> <input type="text" name="size" th:value="${size}"><br>
		<li>주요사업</li> <input type="text" name="major" th:value="${major}"><br>
		<li>연매출액</li> <input type="text" name="yrSales" th:value="${yrSales}">만원<br>
		<li>업종</li> <input type="text" name="sector" th:value="${sector}"><br>
		<button type="submit" class="update">수정</button>
		<button type="button" onclick="window.location.href = document.referrer;">취소</button>
	</form>
	<div id="error_result"></div>
	
	</div>

</div>

	<script language='javascript'>
  		document.getElementById("username").style.background = "#e5e5e5";

		document.getElementById('edit-company-form').addEventListener('submit', function(event) {
			event.preventDefault();
		
			const formData = new FormData(this);
			const formObject = {};
			formData.forEach((value, key) => {
				formObject[key] = value;
			});
			
			
			fetch('http://localhost:9002/com/comUpdate', {
				method: 'PUT',
				headers: {
					'Content-Type': 'application/json',
					'Username' : formObject.username
				},
				
				body: JSON.stringify(formObject)
			})
			.then(response => response.json())
			.then(data => {
				if (data.success) {
					alert(data.message);
					
					// 바디에 담겨져 온 company 정보
					
					const company = data.company;
					const queryParams = new URLSearchParams({
						username : company.username,
						cname : company.cname,
						cnum : company.cnum,
						ceo : company.ceo,
						logo : company.logo,
						caddr : company.caddr,
						employees : company.employees,
						size : company.size,
						major : company.major,
						yrSales : company.yrSales,
						sector : company.sector
						
					}).toString();
					
					
					// 쿼리 파라미터와 함께  backToMyPage로 리다이렉트
					window.location.href = '/com/backToMyPage?' + queryParams;
				} else {
					document.getElementById('error_result').textContent = data.message;
				}
			})
			.catch(error => {
				document.getElementById('error_result').textContent = '에러가 발생했습니다: ' + error.message;
			});
		});
</script>
</body>
</html>