<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>
	<h1>기업 정보 수정 페이지</h1>
	<hr>
	
	<form>
		<li>기업아이디</li><input type="text" th:value="${username}" readonly /><br>
		<li>기업비밀번호</li><input type="text" value=""><br>
		<li>기업명</li><input type="text" value=""><br>
		<li>기업로고</li><input type="text" value=""><br>
		<li>대표자명</li><input type="text" value=""><br>
		<li>사업자번호</li><input type="text" value=""><br>
		<li>기업주소</li><input type="text" value=""><br>
		<li>사원수</li><input type="text" value=""><br>
		<li>기업홈페이지</li><input type="text" value=""><br>
		<li>기업규모</li><input type="text" value=""><br>
		<li>주요사업</li><input type="text" value=""><br>
		<li>연매출액</li><input type="text" value=""><br>
		<li>업종</li><input type="text" value=""><br>
	</form>
	
</body>
</html>